html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	/* Primary */
	--vDrkMgt: hsl(300, 43%, 22%);
	--sftPink: hsl(333, 80%, 67%);

	/* Neutral */

	--drkGrayMgt: hsl(303, 10%, 53%);
	--lgtGrayMgt: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

body {
	position: relative;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	margin: 0;
	line-height: 1.3;
	font-size: 15px;
	font-family: "Spartan", sans-serif;
}

#mobile-top-bg,
#mobile-btm-bg {
	position: absolute;
}

#mobile-btm-bg {
	bottom: 0;
}

#desktop-top-bg,
#desktop-btm-bg {
	display: none;
}

.introduction-frame,
.rating-frame,
.testimony-frame {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-frame {
	padding: 24px;
	margin-top: 36px;
	margin-bottom: 36px;
}

.introduction-frame {
	font-size: 1.3rem;
	color: var(--vDrkMgt);
	text-align: center;
	margin-bottom: 25px;
	margin-top: 50px;
}

.rating-frame {
	margin-bottom: 25px;
}

h1 {
	line-height: 1.05;
	font-weight: 700;
}

h3 {
	color: var(--drkGrayMgt);
	font-size: 0.778rem;
	font-weight: 500;
}

.attribution {
	display: none;
}

.stars {
	list-style: none;
	display: flex;
	padding: 0;
}

.stars li:not(:last-child) {
	margin-right: 10px;
}

#rating1,
#rating2,
#rating3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--lgtGrayMgt);
	color: var(--vDrkMgt);
	border-radius: 10px;
	height: 77px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	font-size: 0.835rem;
	font-weight: 700;
	min-width: 327px;
}

.testimony-container {
	padding: 32px;
	height: 257px;
	border-radius: 10px;
	background-color: var(--vDrkMgt);
	margin-bottom: 20px;
	max-width: 400px;
}

.reviewer {
	display: grid;
	align-items: center;
	grid-template-columns: 30% 70%;
	grid-template-rows: 25px 25px;
	font-weight: 700;
	color: var(--white);
	height: 30%;
	margin-bottom: 15px;
}

.profile-photo {
	align-self: center;
	grid-row-start: 1;
	grid-row-end: 3;
	width: 50px;
	border-radius: 50%;
}

.reviewer span {
	font-weight: 400;
	color: var(--sftPink);
}

.comment {
	letter-spacing: 0.5px;
	line-height: 1.5;
	font-size: 0.875rem;
	color: var(--white);
	font-weight: 500;
}

@media (min-width: 90em) {
	#mobile-top-bg,
	#mobile-btm-bg {
		display: none;
	}

	#desktop-top-bg,
	#desktop-btm-bg {
		position: absolute;
		display: block;
	}

	#desktop-top-bg {
		transform: translate(27%);
	}

	#desktop-btm-bg {
		transform: translate(40%, 40%);
	}

	.main-frame {
		margin: 100px 165px;
		display: grid;
		grid-template-rows: 50% 50%;
	}

	.top-frame {
		display: grid;
		/* grid-template-columns: 50% 50%; */
		grid-template-columns: 41.5% 58.5%;
	}

	.introduction-frame {
		margin-top: 0;
		text-align: left;
		margin-bottom: 0;
	}

	.rating-frame {
		align-items: start;
		justify-content: center;
	}

	.testimony-frame {
		flex-direction: row;
		align-items: unset;
		padding-top: 70px;
	}

	h1 {
		margin: 0;
		margin-bottom: 20px;
		padding-right: 150px;
		font-size: 3rem;
	}

	h3 {
		font-size: 1.1rem;
		line-height: 1.7;
		padding-right: 100px;
	}

	#rating1,
	#rating2,
	#rating3 {
		flex-direction: row;
		justify-content: start;
		max-height: 65px;
		padding-bottom: 0;
		width: 444px;
		height: 54px;
	}

	.stars {
		margin-left: 30px;
		margin-right: 30px;
	}

	#rating2 {
		margin-left: 50px;
	}
	#rating3 {
		margin-left: 100px;
	}

	.testimony-container {
		width: 370px;
		height: 250px;
	}

	.testimony-container:not(:last-child) {
		margin-right: 30px;
	}

	#tes-cont2 {
		margin-top: 20px;
	}

	#tes-cont3 {
		margin-top: 40px;
	}

	.comment {
		font-size: 0.875rem;
	}
}
